<header class="main-header">
  <h1>Phoenix LiveView Minesweeper</h1>
</header>
<div class="main-content">
  <div class="board">
    <div class="title">
      <div class="flags">Flags</div>
      <div class="time">Time</div>
      <div class="face">Face</div>
    </div>
  </div>
</div>
<p><a href="https://github.com/ivymarkwell">Ivy Markwell</a></p>
