body {
  text-align: center;
  font-family: "sans-serif";
  font-size: 12px;
  background: #5a5e86;
  color: #ffffff;
}

.board {
  width: 500px;
  height: 318px;
  margin: auto auto;
  top: 4px;
  border-width: 1px;
  border-style: outset;
  background-color: #bbb;
  padding: 1px;
}

.header {
  height: 26px;
  margin: 5px;
  border: 3px inset #eee;
  background-color: #bbb;
  text-align: center;
  font-size: 22px;
}

.flags {
  float: left;
}

.face {
}

.time {
  float: right;
}
